
// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: 'Noto Sans', sans-serif;
}
.productList{
  padding: 0px !important;
  margin: 0px !important;
}
.productList li{
  list-style: none;
  border-bottom: 10px solid #e3e3e3;
  padding: 0px !important;
  margin: 0px;
  margin-bottom: 5em;
  padding-bottom: 1em;
}